.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: flex-start;
}

.input {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

.list {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-left: 20px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed rgba(0, 0, 0, 0.434);
    border-radius: 5px;
    padding: 0px 20px;
    margin: 8px 0;
    font-size: 20px;
    letter-spacing: 2px;
    width: fit-content;
}
li .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 30px;
    padding: 0;
    margin-left: 10px;
    background-color: rgba(56, 55, 55, 0.153);
    border-radius: 5px;
}

img:hover {
    cursor: pointer;
}

.done {
    text-decoration: line-through dashed;
}


