.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    align-items: center;
    background-color: #cdf8f0a9;
    border-radius: 5px;
    margin-top: 10px;
    border: 0.5px solid #69efd7a9;
}

.input {
    display: flex;
    justify-content: center;
    width: fit-content;
}
.input button {
    margin-left: 10px;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: #bcfff4;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px dashed rgba(0, 0, 0, 0.434); */
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    letter-spacing: 1px;
    width: 450px;
    scrollbar-width: 1px;
    background-color: #abd0f6;
}
.list li #text-field {
    overflow-x: auto;
    scrollbar-width: 1px;
}
li .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
}

li .btn-div button {
    margin-left: 5px;
    
}

.done {
    text-decoration: line-through;
}

@media (width <= 700px) {
    .container{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    li {
        margin-left: 0;
        margin-right: 0;

        width: 90vw;
    }
    .list {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    .input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    .input button {
        margin: 10px 0;
    }
    body{
        margin: 0;
        padding: 0;
    } 
}